.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 400px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
  cursor: pointer;
  height: 100px;
}

.card:hover {
  background: #f0f0f0;
}

.card .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.card .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.card .title-container {
  display: flex;
  gap: 8px;
  height: min-content;
  max-lines: 2;
  align-items: start;
  justify-content: flex-start;
}

.card .title-container .title {
  font-size: 18px;
  font-weight: bold;
  color: #333;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-right: 24px;
}

.card .tags {
  display: flex;
  gap: 8px;
}

.card .tag {
  font-size: 12px;
  font-weight: 500;

  color: gray;
  padding: 4px 8px;

  border: 1px solid #e5e5e5;
  border-width: 1px;
  border-radius: 4px;

  text-align: center;
}

.card .status {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #e5e5e5;
  border-width: 1px;
  border-radius: 4px;
  padding: 4px;
}

.card .status .label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.card .user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
